/* Navbar Styles */
.navbar {
    background-color: #f8f9fa; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .navbar-brand {
    font-size: 24px; 
  }
  
  .navbar-nav .nav-link {
    color: #495057;
    font-weight: bold; 
    margin-right: 15px; 
    transition: color 0.3s; 
  }
  
  .navbar-nav .nav-link:hover {
    color: 	#293244; 
  }
  
  .navbar-nav .nav-link.active {
    color: 	#545b69; 
  }
  
 
  .navbar-nav .nav-item.active {
    background-color: transparent !important;
  }
  
  /* Responsive Styles */
  @media (max-width: 991.98px) {
    .navbar-toggler {
      border-color: 	#7f848f;
    }
  
    .navbar-toggler-icon {
      background-color: #a9adb4;
    }
  
    .navbar-collapse {
      background-color: 	#d4d6da; 
    }
  
    .navbar-nav {
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }
  
    .navbar-nav .nav-link {
      margin-right: 0; 
      margin-bottom: 10px; 
    }
  }
  