.service-page header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../utils/img/FullService.jpeg);
    height: 30vh;
}

.service-page h1{
    margin-top: 80px;


}